.board {
    background-color: burlywood;
    border: 5px solid black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    padding: 20px;
}

.cell {
    background-color: brown;
}