body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

.board,
.board-disable {
    height: 400px;
    margin: 50px 0;
}

.board {
    background-color: burlywood;
    border: 5px solid black;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    padding: 20px;
}

.board-disable {
    background-color: red;
    width: 100vw;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
}

.cell {
    background-color: brown;
}

.panel {
    display: flex;
    justify-content: center;
}